@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5873k');
  src:  url('fonts/icomoon.eot?5873k#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5873k') format('truetype'),
    url('fonts/icomoon.woff?5873k') format('woff'),
    url('fonts/icomoon.svg?5873k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nablex:before {
  content: "\e902";
}
.icon-delta:before {
  content: "\e901";
}
.icon-nabla:before {
  content: "\e900";
}
.icon-contrast:before {
  content: "\e9d5";
}
.icon-terminal:before {
  content: "\ea81";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-vk:before {
  content: "\ea98";
}
.icon-github:before {
  content: "\eab0";
}
